<div class="heading-text d-flex justify-content-between color">ACCEPT CHALLENGE
    <button class="btn-style">Accept</button>
</div>
<div class="heading-text">Sales for Rs.999/- Only</div>
<div class="box-styling mt-4">
    <img src="./../../../assets/shirt1.jfif" class="image-size">
    <img src="./../../../assets/shirt2.jfif" class="image-size">
    <img src="./../../../assets/shirts3.jfif" class="image-size">
</div>
<div class="box-styling mt-4">
    <img src="./../../../assets/top1.jfif" class="image-size">
    <img src="./../../../assets/top2.jfif" class="image-size">
    <img src="./../../../assets/top3.jfif" class="image-size">
</div>
<div class="box-styling mt-4">
    <img src="./../../../assets/saree1.jfif" class="image-size">
    <img src="./../../../assets/saree2.jfif" class="image-size">
    <img src="./../../../assets/saree3.jfif" class="image-size">
</div>