<div class="container">
<div class="card-styling">
    <div class="headingSignIn marginTop">Sign In</div>
    <div class="d-block marginTop">
        <span class="headingSignIn w-50">UserName:</span>
        <input type="text" class="w-50 marginLeft">
    </div>
    <div class="d-block marginTop">
        <span class="headingSignIn w-50">Password:</span>
        <input type="text" class="w-50 marginLeft">
    </div>
    <div class="d-block marginTop marginBottom">
        <button class="signBtn" (click)="navigateToDashBoard()">SignIn</button>
    </div>
</div>
</div>