.dashboard-container{
    background-image:url(./../../assets/mobile.jpg);
    min-height: 93vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.title{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    text-align: center;
    min-height: 93vh;
    width: 100%;
}

.heading{
    color: #fa3764;
    font-size: 4em;
    font-style: ITALIC;
    font-weight: bold;
}

.btn-styling{
    background: #fa3764;
    padding: 20px 40px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 30px;
}
.d-block{
    display: block !important;
}